<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Buscador de Livros</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <style>
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgb(158, 167, 241);
      margin: 0; 
    }
    .container {
      margin-top: 1px;
      box-sizing: border-box; 
      display: flex;
      flex-direction: column;
    }
    .btn-buscar {
      margin-top: 10px; 
    }
    .book-list {
      margin-top: 20px;
      padding: 10px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  </style>
</head>
<body>

  <h1 class="text-center">Buscador de Livros</h1>
  <div class="container">
    <form action="/search" method="GET">
      <div class="form-group">
        <label for="title">Buscar por Título:</label>
        <div class="input-group">
          <input type="text" class="form-control" id="title" name="title">
          <div class="input-group-append">
            <div class="input-group-text">
              <input type="checkbox" id="titleCheck" name="titleCheck">
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="year">Buscar por Ano:</label>
        <div class="input-group">
          <input type="text" class="form-control" id="year" name="year">
          <div class="input-group-append">
            <div class="input-group-text">
              <input type="checkbox" id="yearCheck" name="yearCheck">
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-buscar">Buscar</button>
    </form>

    <% if (books && books.length > 0) { %> 
      <div class="book-list">
        <h3>Resultados da Busca:</h3>
        <ul>
          <% books.forEach(book => { %>
            <li><%= book.id %> - <%= book.title %> - <%= book.author %> (<%= book.year %>)</li>
          <% }) %>
        </ul>
      </div>
    <% } else if (books && books.length === 0) { %>
      <p class="book-list">Nenhum livro encontrado.</p>
    <% } %>
    
  </div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
      // Aguarda o carregamento completo do DOM antes de executar o código
      
      const form = document.querySelector("form");
      // Seleciona o elemento de formulário na página
      
      form.addEventListener("submit", function(event) {
          // Adiciona um ouvinte de evento para o evento de submissão do formulário
          
          event.preventDefault();
          // Impede o comportamento padrão de submissão do formulário (recarregar a página)
          
          const titleInput = document.getElementById("title");
          const yearInput = document.getElementById("year");
          // Obtém os elementos de entrada do título e do ano do formulário
          
          const titleCheck = document.getElementById("titleCheck");
          const yearCheck = document.getElementById("yearCheck");
          // Obtém os elementos de caixa de seleção para buscar por título e por ano
          
          const searchByTitle = titleCheck.checked;
          const searchByYear = yearCheck.checked;
          // Verifica se as caixas de seleção estão marcadas
          
          let params = "";
          // Inicializa uma string para armazenar os parâmetros de busca
          
          if (searchByTitle) {
              params += `title=${titleInput.value}`;
          }
          // Se a caixa de seleção para buscar por título estiver marcada, adiciona o parâmetro "title" à string params
          
          if (searchByYear) {
              params += `year=${yearInput.value}`;
          }
          // Se a caixa de seleção para buscar por ano estiver marcada, adiciona o parâmetro "year" a string params
          
          window.location.href = `/search?${params}`;
          // Direciona o navegador para a URL de busca 
      });
  });
</script>

</body>
</html>
